@charset "UTF8";

body {
    background-color: rgb(218, 203, 205);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

h1 {
    color: rgb(97, 52, 75);
    background-color: rgb(241, 213, 217);
}

h2 {
    color: rgb(189, 100, 130);
}

p {
    text-align: justify;
}